<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tu Colección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar tarjetas si hay ítems seleccionados -->
  <div *ngIf="selectedItems.length > 0; else emptyList">
    <ion-card *ngFor="let item of selectedItems">
      <img [src]="item.image" alt="{{ item.name }}" />
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Mensaje cuando no hay ítems -->
  <ng-template #emptyList>
    <ion-card>
      <ion-card-content>
        No tienes elementos en tu colección aún.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>


  <!-- Barra de navegación en la parte inferior -->
  <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigateTo('home')">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="navigateTo('perfil')">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="navigateTo('coleccion')">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tu Colección</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>


