<ion-header>
  <ion-toolbar>
    <ion-title>Espada Sagrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/espada_sagrada.png" class="imagen-ajustada" alt="Mitos y Leyendas"></ion-img>
  <ion-list>
    <!-- Lista de elementos con checkbox "Lo tengo" -->
    <ion-item *ngFor="let item of checklistItems">
      <ion-label class="custom-label">{{ item.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.checked" class="custom-checkbox"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botón para enviar elementos seleccionados a tucoleccion -->
  <ion-button expand="full" (click)="navigateToCollection()">
    Enviar a Colección
  </ion-button>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTo('home')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigateTo('perfil')">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigateTo('tucoleccion')">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Tu Colección</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="cerrarSesion()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
